/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

p {

}

a {

}

/* Колонки */

.row {
    display: flex;

}
.col {
    flex: auto;

}


/* Потом селекторы по классам */

.text-input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.button {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: blue;
    border-radius: 5px;
    width: 30%;
    display: flex;
    flex: auto;

}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}


/* Страничка жанров и тегов */

.genre-first {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: aquamarine;
    border-radius: 5px;
    width: 100%;
}

.genre-second {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: cornsilk;
    border-radius: 5px;
    width: 80%;

}

.genre-third {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: azure;
    border-radius: 5px;
    width: 60%;

}

.genre-fourth {
    margin: 10px 0px;
    padding: 5px 5px;
    background-color: antiquewhite;
    border-radius: 5px;
    width: 40%;

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
